.container {
  width: 90%;
  margin: 0 auto;
  @import './_mixin.scss';
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  @include clearfix;
}
* {
    box-sizing: border-box;
}
@import './_index.scss';
